/* base.html 
set styles for:
background image styles for all pages, 
the navbar,
navbar buttons, 
dropdown button & dropdown content,
icon for navbar buttons,
icon for the label page.
----------
flash message & close button after successful registration.
----------
Created a card style with title for all pages to display the contents.
*/
.background-img {
    background-image: url('/static/background-img.jpg');
    background-size: cover;
    background-position: center;
    height: 110vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 7px; 
}

.title {
    text-decoration: none;
    margin-right: 10px;
    font-size: large;
    font-weight: bold;
    font-variant:small-caps;
    color: #be2d4cd6;
    padding: 10px 13px;
    border-radius: 15px;
}

.title:hover {
    background-color: #be2d4c22;
}

.title.active {
    background-color: #be2d4c22;
}


.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
}

.menu {
    outline: solid 1px #d8d7d7;
    color: #723bad;
    font-weight: bold;
    padding: 10px 13px;
    margin: 0 7px;
    border-radius: 10px;
    text-decoration: none;
}

.navbar .menu:hover {
    background-color: #723bad21;
}

.navbar .menu.active {
    background-color: #723bad21;
}

.dropbtn {
    color: #e89126da;
    font-weight: bold;
    padding: 10px 13px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    margin-left: auto;
}


.dropbtn:focus {
    background-color: #e891261f;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f1f1f1;
    width: 90px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -20px;
}

.dropdown-content a {
    text-align: center;
    color: #2a2b2bc8;
    font-weight: bold;
    padding: 8px 10px;
    font-size: 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e891261f;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e891261f;
}
  
hr {
    border: solid 1px #b3b2b249;
}


.icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 2px;
    vertical-align: bottom;
}

.icon img {
    display: block;
    width: 100%;
    height: 100%;
    filter: invert(25%) sepia(40%) saturate(3519%) hue-rotate(270deg) brightness(80%) contrast(70%); 

}

.register-message {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    color:#723bad;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: solid 2px #d8d7d7;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    width: auto;
}

.close-message {
    float: right;
    font-size: 30px;
    position: relative;
    border: none;
    background-color: transparent;
    color: #3e3e3e8f;
    cursor: pointer;
    margin-top: -10px;
}

.close-message:hover,
.close-message:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card {
    background-color: #f1f0f0f7;
    color: #3e3e3ef5;
    width: max-content;   
    margin: 150px auto;
    border: 1px solid #cccccc71;
    border-radius: 8px;
    box-shadow: 0 0 10px #4b4b4b49;
    padding: 50px;
}

.card h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 5px;
}

/* index.html 
set styles for:
title, 
description.
and add the fade in animation for description.
*/
.index-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #292828be;
} 

.index-title h1 {
    font-size: 36px;
    color: #292828be;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.index-description {
    max-width: 900px;
    margin-top: -30px;
    font-size: 18px;
    line-height: 1.5;
}

.highlight {
    color: #be2d4cd6;
    font-weight: bold;
    font-size: 30px;
}

.index-description p {
    margin-bottom: 20px;
}

.fade-in {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* home.html 
set styles for:
welcome text,
title of role selection,
two a labels of role selection,
stats table.
*/
.home-title {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    color: #292828be;
} 

.home-title h1 {
    display: inline;
}

.home-title p {
    color: #e89126da;
    display: inline;
    margin: 5px;
}

.home-title h2,
.home-title a {
    margin: 50px 30px;
    font-weight: bold;
}

.stats {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.stats h3 {
    align-self: center;
}

.stats-table {
    max-width: 400px;
    margin: 0 auto;
    border-collapse: collapse;
}

.stats-table tr {
    display:inline-block;
    padding: 1px;
    background-color: #ffffffe0;
    border: solid 2px #d8d7d7;
    border-radius: 10px;
    margin:3px;
}

.stats-highlight {
    color: #e89126da;
    font-size: 30px;
    margin: 5px; 
}

.stat-label {
    font-weight: bold;
    padding: 3px;
}
  
.stat-value {
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
    color: #e89126da;
}

/* login.html register.html
set styles for:
title,
input boxes,
submit buttons,
a hyperlink for jumping to the register page,  
error message when user input invalid username or password.
*/
input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 2px solid #bcbbbbd0;
    padding: 5px;
    outline: none;
    background-color:transparent;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #292828;
}

.submit-button {
    text-align: center;
  }

.submit-button input[type="submit"] {
    background-color: transparent;
    border: 2px solid #d8d7d7;
    color: #3e3e3ef5;
    padding: 8px 15px;
    border-radius: 20px;
}

.submit-button input[type="submit"]:hover {
    background-color: #3e3e3e1e;
}

.new-user a {
    color: #723bad;
}

.modal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
}

.modal-content {
    color: #be2d4cd6;
    background-color: transparent;
    margin-left: 5px;
    padding: 10px;
    border: solid 2px #d8d7d7;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: -10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* role.html 
set styles for:
welcome message,
role selection title,
two a labels.
*/
.roles {
    margin-top: 50px;
    text-align: center;
}

.role {
    text-decoration: none;
    padding: 9px;
    margin: 10px;
    color: #3e3e3ef5;
    border: solid 2px #d8d7d7;
    border-radius: 20px;
    font-weight: bold;
}

.role:hover {
    background-color: #3e3e3e1e;
}

/* new_game.html 
set styles for:
send button,
chat box,
role names,
messages,
questions counter,
finish button.
*/
.send {
    margin-left: 5px;
    background-color: transparent;
    border: 2px solid #d8d7d7;
    color: #3e3e3ef5;
    padding: 8px 15px;
    border-radius: 20px;
}
.send:hover {
    background-color: #3e3e3e1e;
}

.chat-box {
    border:solid 2px #3e3e3ef5;
    background-color: #ffffffe4;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 400px;
    max-width: 600px;
    overflow-y: auto; 
    margin-bottom: 30px;
}


.chat-history {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.message {
    display: flex;
    flex-direction: column;
}

.game-user {
    color: #3e3e3ef5;
    font-weight: bold;
    text-align: end;
    margin-bottom: 0;
}

.game-gpt {
    color: #3e3e3ef5;
    font-weight: bold;
    margin-bottom: 0;
}

#initial-user-message {
    color: #3e3e3ef5;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    align-self: flex-end;
    background-color: #dcf8c6d5;
}

#initial-gpt-message {
    color: #3e3e3ef5;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    align-self: flex-start;
    background-color: #723bad21;
}

.user-message {
    align-self: flex-end;
    position: relative;
    color: #3e3e3ef5;
}

.user-message p {
    text-align: left;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #dcf8c6d5;
}

.game-role {
    margin-bottom: 5px; 
    font-weight: bold;
}

.gpt-message {
    position: relative;
    color: #3e3e3ef5;
}

.gpt-message p {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #723bad21;
}

#chat-input {
    margin-bottom: 45px;
}

#chat-input input {
    margin-top: 20px;
    width: 300px;
}

.finish {
    margin-top: 10px;
    text-align: center;
}

.finish input[type="submit"] {
    background-color: transparent;
    border: 2px solid #d8d7d7;
    color: #3e3e3ef5;
    padding: 8px 15px;
    border-radius: 20px;
}

.finish input[type="submit"]:hover {
    background-color: #3e3e3e1e;
}


/* history.html
set styles for:
search button,
input box,
filter,
dropdown selection for sorting,
table of game records,
previous & next buttons,
input box and button for jumping page.
*/
.search {
    margin-left: 5px;
    background-color: transparent;
    border: 2px solid #d8d7d7;
    color: #3e3e3ef5;
    padding: 5px 15px;
    border-radius: 20px;
}
.search:hover {
    background-color: #723bad21;
}

.history-input {
    width: 250px;
}

.filter-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.filter-container .filter-by{
    font-weight: bold;
    margin-right: 10px;
}

.filter-container label {
    display: flex;
    vertical-align: middle;
    font-size: 16px;
    margin-right: 10px;
}

.filter-container input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 2px solid #ccc;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    vertical-align: middle;
}

.filter-container input[type="checkbox"]:checked {
    background-color: #723bad30;
}

.sort-container {
    text-align: right;
    margin: 20px;
}
  
.sort-container label {
    font-weight: bold;
    margin-right: 10px;
}
  
#sort-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
}

#sort-select option {
    background-color: #f1f0f0f7;
}

.table-container {
    overflow-x: auto;
    margin: 20px;
}
  
.game-table {
    border-collapse: collapse;
    width: 100%;
}
  
.game-table th,
.game-table td {
    padding: 8px;
}
  
.game-table th {
    text-align: center;
}

.game-row:hover {
    cursor: pointer;
    background-color: #723bad21;
}
  
.pagination {
    margin-top: 10px;
    text-align: center;
}
  
.prev-btn,
.next-btn,
.jump-btn {
    margin-left: 5px;
    background-color: transparent;
    border: 2px solid #d8d7d7;
    color: #3e3e3ef5;
    padding: 5px 15px;
    border-radius: 20px;
}
  
.prev-btn:hover,
.next-btn:hover,
.jump-btn:hover {
    background-color: #3e3e3e1e;
}

.page-info {
    margin: 0 10px;
}
  
  #jump-input {
    width: 50px;
}
  
.prev-btn[disabled],
.next-btn[disabled] {
    background-color: #3e3e3e1e;
    color: white;
}


/* past_game.html 
set styles for:
message of game record,
chat records.
*/
.past-role, 
.past-result {
    color: #723bad;
    font-size: 35px;
}

.chat-box h2 {
    color: #29282890;
    align-self: center;
}

.past-game-user {
    align-self: flex-end;
    font-weight: bold;
    margin-bottom: -5px;
}

.past-user-message {
    align-self: flex-end;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #dcf8c6d5;
}

.past-game-gpt {
    font-weight: bold;
    margin-bottom: -5px;
}

.past-gpt-message {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #723bad21;
}

/* suit to mobile screen 
on small size screens, 
many elements are displayed too large, 
so some adjustments have been made to these elements.
*/
@media screen and (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        border: none;
    } 

    .left {
        margin-bottom: 5px;
    }

    .right {
        margin-top: 5px;
    }

    .icon {
        display: none; 
    }
    
    .menu{
        outline: none;
        padding: 5px;
        margin: 3px;
    }

    .dropdown {
        display: block;
        margin-top: 10px;
    }

    .dropdown-content {
        position: static;
        display: none;
        background-color: transparent;
        box-shadow: none;
    }

    .dropdown-content a {
        padding: 5px 0;
    }
    
    .card {
        width: 70%;
        margin-bottom: 0px;
        
    }

    /* Adjust the background image 
    so that it does not appear blank block on small size screens */
    .background-img {
        background-repeat: repeat;
        background-size: cover;
        background-position: center;
    }

    /* On small size screens, 
    the a labels for role selection on the home and role pages overlap, 
    so display them as block elements. */
    .home-title a,
    .role {
        display: block;
        margin: 5px;
    }
    
    .index-description {
        max-width: 600px;
    }
}