<!doctype html>

<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }} | 20questionsAI</title>
        {% else %}
        <!-- icon of label -->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='title-icon.jpg') }}">
        <title>20questionsAI</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!--link to the CSS file -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    </head>
    <body>
        <!-- navigation bar -->
        <div class="navbar">
            <!-- navibar buttons -->
            <div class="left">
                <a class="title" href="{{ url_for('app.index') }}">20questionsAI</a>
                {% if current_user.is_anonymous %}
                <a class="menu" href="{{ url_for('app.login') }}">Log In</a>
                {% else %}
                
                <a class="menu" href="{{ url_for('app.home', username=current_user.username) }}">
                    <span class="icon">
                        <img src="{{ url_for('static', filename='home_icon.png') }}" alt="Home">
                    </span>
                    Home
                </a>
                <a class="menu" href="{{ url_for('app.role') }}">
                    <span class="icon">
                        <img src="{{ url_for('static', filename='games_icon.png') }}" alt="New Game">
                    </span>
                    New Game</a>
                <a class="menu" href="{{ url_for('app.history') }}">
                    <span class="icon">
                        <img src="{{ url_for('static', filename='history_icon.png') }}" alt="History">
                    </span>
                    History
                </a>
                   
                {% endif %}
            </div>
            <!-- navibar dropdown button -->
            <div class="right">
                {% if not current_user.is_anonymous %}
                    <div class="dropdown">
                        <button onclick="dropdown()" class="dropbtn">
                            {{ current_user.username }}</button>
                        <span id="dropdown-menu" class="dropdown-content">
                            <a href="{{ url_for('app.logout') }}">Log out</a>
                        </span>
                    </div>
                {% endif %}
            </div>

        </div>

        <!-- background image for all pages -->
        <div class="background-img">

            <!-- obtain flashed mesaage when sign up successful-->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="register-message">
                <span class="close-message">&times;</span>
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}


            <hr>
            <!-- content for other pages -->
            {% block content %}{% endblock %}
        </div>

        <!--import Java Script & JQuery -->
        <script src="{{ url_for('static', filename='style.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </body>
</html>