<!doctype html>

<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }} | 20questionsAI</title>
        {% else %}
        <title>20questionsAI</title>
        {% endif %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <!-- navigation bar -->
        <div class="navbar">
            <a href="{{ url_for('index') }}">20questionsAI</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Log In</a>
            {% else %}
            <a href="{{ url_for('home', username=current_user.username) }}">Home</a>
            <a href="{{ url_for('role') }}">New Game</a>
            <a href="{{ url_for('history') }}">History</a>
            <a href="{{ url_for('logout') }}">Log Out</a>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <hr>
        <!-- content for other pages -->
        {% block content %}{% endblock %}
        <script src="{{ url_for('static', filename='style.js') }}"></script>
    </body>
</html>