<!doctype html>

<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }} | 20questionsAI</title>
        {% else %}
        <title>20questionsAI</title>
        {% endif %}
        <meta charset="utf-8">

    </head>
    <body>
        <!-- navigation bar -->
        <div>
            <a href="{{ url_for('index') }}">20questionsAI</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Log In</a>
            {% else %}
            <a href="{{ url_for('home', username=current_user.username) }}">Home</a>
            <a href="{{ url_for('role') }}">New Game</a>
            <a href="{{ url_for('history') }}">History</a>
            <a href="{{ url_for('logout') }}">Log Out</a>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <hr>
        <!-- content for other pages -->
        {% block content %}{% endblock %}
    </body>
</html>