{% extends "base.html" %}

{% block content %}
<!-- welcome message & game description -->
<div class="card">
    <div class="index-title">
        <h1>Welcome to 20questionsAI!</h1>
    </div>
    <div class="index-description">
        <p>This website allows you to play games of <span class="highlight">20 Questions</span> against ChatGPT.</p>
        <p>Just login, or sign up if you don't have an account, and you can start playing right away!</p>
        <p>In 20 Questions, the answerer thinks of a <span class="highlight">person, place or thing</span>, and the questioner has to guess what it is with 20 questions or less.</p>
        <p>Each question can only be answered with a <span class="highlight">yes or no</span> by the answerer, so pick clever questions to narrow down the possibilities.</p>
        <p>Before each game, you can choose to play as the <span class="highlight">answerer or questioner</span>.</p>
        <p>ChatGPT is primed and ready to play from the start, so all you need to do is start messaging.</p>
        <p>Once you feel the game has come to a resolution, you can finish by submitting the game result.</p>
        <p>You can view your statistics in your <span class="highlight">personal home page</span>, such as your overall and role-specific win rates.</p>
        <p>You can see a list of all your previous games in the <span class="highlight">history page</span>, and click them to view the message history.</p>
    </div>
</div>
{% endblock %}



