{% extends "base.html" %}

{% block content %}
<div class="card">
    <h1>New game as the {{ role }}!</h1>
    <div id="chat-box">
        <div id="chat-history", style="max-width: 400px;">
            <!-- display chat history here -->
            <div class="message">
                <p class="game-user">{{ current_user.username }}</p> 
                <p class="user-message">{{ prompt }}</p>
            </div> 
            <div class="message">
                <p class="game-gpt">ChatGPT</p> 
                <p class="gpt-message">{{ reply }}</p>
            </div>
        </div>
        <div id="chat-input">
            <input type="text" placeholder="Type your message here...">
            <button class="send">Send</button>
        </div>
    </div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.winner() }} {{ form.winner.label }}</p>
        <div class="finish"><p >{{ form.submit() }}</p></div>
    </form>
</div>
{% endblock %}