{% extends "base.html" %}

{% block content %}
<div class="card">
    <!-- result of the seleted game record -->
    <h1>As the <span class="past-role"> {{ game.role }}</span>,</h1>
    {% if game.winner %}
    <h1>You <span class="past-result">won</span> the game!</h1>
    {% else %}
    <h1>You <span class="past-result">lost</span> the game&#40</h1>
    {% endif %}

    <!-- chat history of selected game record -->
    <div class="chat-box">
        <h2> The History of Chat </h2> 
        {% for message in messages %}
        <div class="message">
            {% if message.role == 'user' %}
                <p class="past-game-user">{{ current_user.username }}</p>
                <p class="past-user-message">{{ message.content }}</p>
            {% else %}
                <p class="past-game-gpt">ChatGPT</p>
                <p class="past-gpt-message">{{ message.content }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}