{% extends "base.html" %}

{% block content %}
<div class="card">
    <h1>As the {{ game.role }},</h1>
    {% if game.winner %}
    <h1>You won the game!</h1>
    {% else %}
    <h1>You lost the game&#40</h1>
    {% endif %}
    <div class="chat-box">
        {% for message in messages %}
        <div class="message">
            <p class="game-role">{{ message.role }}</p>
            <p class="message-content">{{ message.content }}</p>
        </div>
        {% endfor %}
    </div>
    
    
</div>




{% endblock %}