{% extends "base.html" %}

{% block content %}
<div class="card">
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <!-- username input box -->
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <!-- email input box -->
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <!-- password input box -->
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <!-- submit button -->
        <p class="submit-button">{{ form.submit() }}</p>
    </form>
</div>


<script>
    // function to close the success message after signing up
    const closeButton = document.querySelector('.close-message');
    const registerMessage = document.querySelector('.register-message');

    closeButton.addEventListener('click', function() {
        registerMessage.style.display = 'none'; 
    });
</script>
{% endblock %}